.box1{
    background-color: $boxColor1;
    border-radius: 8px;
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

.box2{
    background-color: $boxColor2;
    border-radius: 8px;
    border: 2px solid black;
    height: 200px;
    width: 200px;
}

.box3{
    background-color: $boxColor3;
    border-radius: 8px;
    border: 2px solid black;
    height: 250px;
    width: 250px;
}

.box4{
    background-color: $boxColor4;
    border-radius: 8px;
    border: 2px solid black;
    height: 50px;
    width: 50px;
}